
<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="scripts/projController.js"></script>

  <head>
    <link rel="shortcut icon" href="">
    <meta charset="utf-8">
    <title>OSMIR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
      <div ng-app="osmirApp" ng-controller="newAthlete">
        Name: <input type="text" name="name" ng-model="name" required><br>
        Email: <input type="text" name="email" ng-model="email" required><br>
        Password: <input type="password" name="password" ng-model="password" required><br>
        Confirm Password: <input type="password" name="cpassword" ng-model="cpassword" required>
        <!-- make sure passwords match -->
        <span ng-show="password != cpassword"  style="color:red">Your passwords must match.</span><br>
        <!-- make sure all fields are filled out -->
        <span ng-show="myform.myfield.$error.required">All fields must be filled out</span>

        <br>
          <table style="width:75%">
            <tr>
              <td><input type="checkbox" ng-model="Baseball" ng-true-value="1" ng-false-value="0"> Baseball</td>
              <td><input type="checkbox" ng-model="MBasketball"ng-true-value="1" ng-false-value="0"> Men's Basketball</td>
              <td><input type="checkbox" ng-model="WBasketball"ng-true-value="1" ng-false-value="0"> Women's Basketball</td>
              <td><input type="checkbox" ng-model="Bowling"ng-true-value="1" ng-false-value="0"> Bowling</td>
            </tr>
            <tr>
              <td><input type="checkbox" ng-model="MCrossCountry"ng-true-value="1" ng-false-value="0"> Men's Cross Country </td>
              <td><input type="checkbox" ng-model="WCrossCountry"ng-true-value="1" ng-false-value="0"> Women's Cross Country </td>
              <td><input type="checkbox" ng-model="FieldHockey"ng-true-value="1" ng-false-value="0"> Field Hockey </td>
              <td><input type="checkbox" ng-model="Football"ng-true-value="1" ng-false-value="0"> Football</td>
            </tr>
            <tr>
              <td><input type="checkbox" ng-model="MGolf"ng-true-value="1" ng-false-value="0"> Men's Golf </td>
              <td><input type="checkbox" ng-model="WGolf"ng-true-value="1" ng-false-value="0"> Women's Golf </td>
              <td><input type="checkbox" ng-model="MIceHockey"ng-true-value="1" ng-false-value="0"> Men's Ice Hockey </td>
              <td><input type="checkbox" ng-model="WIceHockey"ng-true-value="1" ng-false-value="0"> Women's Ice Hockey </td>
            </tr>
            <tr>
              <td><input type="checkbox" ng-model="MLacrosse"ng-true-value="1" ng-false-value="0"> Men's Lacrosse </td>
              <td><input type="checkbox" ng-model="WLacrosse"ng-true-value="1" ng-false-value="0"> Women's Lacrosse </td>
              <td><input type="checkbox" ng-model="Rowing"ng-true-value="1" ng-false-value="0"> Rowing </td>
              <td><input type="checkbox" ng-model="Softball"ng-true-value="1" ng-false-value="0"> Softball</td>
            </tr>
            <tr>
              <td><input type="checkbox" ng-model="MSoccer"ng-true-value="1" ng-false-value="0"> Men's Soccer </td>
              <td><input type="checkbox" ng-model="WSoccer"ng-true-value="1" ng-false-value="0"> Women's Soccer </td>
              <td><input type="checkbox" ng-model="MSwimming"ng-true-value="1" ng-false-value="0"> Men's Swimming </td>
              <td><input type="checkbox" ng-model="WSwimming"ng-true-value="1" ng-false-value="0"> Women's Swimming </td>
            </tr>
            <tr>
              <td><input type="checkbox" ng-model="MTennis"ng-true-value="1" ng-false-value="0"> Men's Tennis </td>
              <td><input type="checkbox" ng-model="WTennis"ng-true-value="1" ng-false-value="0"> Women's Tennis </td>
              <td><input type="checkbox" ng-model="MTrackField"ng-true-value="1" ng-false-value="0"> Men's Track&Field </td>
              <td><input type="checkbox" ng-model="WTrackField"ng-true-value="1" ng-false-value="0"> Women's Track&Field </td>
            </tr>
            <tr>
              <td><input type="checkbox" ng-model="MVolleyball"ng-true-value="1" ng-false-value="0"> Men's Volleyball </td>
              <td><input type="checkbox" ng-model="WVolleyball"ng-true-value="1" ng-false-value="0"> Women's Volleyball </td>
              <td><input type="checkbox" ng-model="MWaterPolo"ng-true-value="1" ng-false-value="0"> Men's Water Polo </td>
              <td><input type="checkbox" ng-model="WWaterPolo"ng-true-value="1" ng-false-value="0"> Women's Water Polo </td>
            </tr>
            <tr>
              <td><input type="checkbox" ng-model="Wrestling"ng-true-value="1" ng-false-value="0"> Wrestling </td>
              <td><input type="checkbox" ng-model="Other"ng-true-value="1" ng-false-value="0"> Other </td>
            </tr>
          </table>
        <br>
        <br>

        Allergies <br>
        <textarea rows="4" cols="40" ng-model="allergies">None</textarea>
        <br>

        Medical Conditions <br>
        <textarea rows="4" cols="40" ng-model="conditions">None</textarea>
        <br>
        <button ng-click="createAthlete()" ng-disabled="inputField.$invalid">Create</button>
        <button onclick="location.href='homePAge.html';">Back</button>
      </div>
</body>

</html>
