<!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

  <head>
    <link rel="shortcut icon" href="">
    <meta charset="utf-8">
    <title>OSMIR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>

    <div ng-app="newTrainer" ng-controller="newTrainerCtrl">
      <form name="inputField">
          Name: <input type="text" name="name" ng-model="name" required><br>
          Email: <input type="text" name="email" ng-model="email" required><br>
          Password: <input type="password" name="password" ng-model="password" required><br>
          Confirm Password: <input type="password" name="cpassword" ng-model="cpassword" required>
          <span ng-show="password != cpassword"  style="color:red">Your passwords must match.</span><br>
          Sport: <input type="text" name="sport" ng-model="sport"><br>
          <span ng-show="myform.myfield.$error.required">All fields must be filled out</span>
          <button ng-click="submit()">Create</button>
          <button ng-click="back()">Back</button>
      </form>
    </div>

  </body>

  <script>
  var app = angular.module('newTrainer', []);
  app.controller('newTrainerCtrl', function($scope, $http) {
      $scope.submit = function(){
        dat = {
          'email' : $scope.email,
          'name' : $scope.name,
          'sport' : $scope.sport,
          'password' : $scope.password
        };
         $http.post('newTrainer.php', dat)
            .then(function(response) {
            console.log(response.data);
          });
    }

  });
  </script>
</html>
